<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\caffe-master\windows\caffe.managed\packages.config" />
  <repository path="..\caffe-master\windows\caffe\packages.config" />
  <repository path="..\caffe-master\windows\compute_image_mean\packages.config" />
  <repository path="..\caffe-master\windows\convert_imageset\packages.config" />
  <repository path="..\caffe-master\windows\extract_features\packages.config" />
  <repository path="..\caffe-master\windows\libcaffe\packages.config" />
  <repository path="..\caffe-master\windows\matcaffe\packages.config" />
  <repository path="..\caffe-master\windows\pycaffe\packages.config" />
  <repository path="..\caffe-master\windows\test_all\packages.config" />
</repositories>